<!-- start custom footer snippets -->
<div id="sfc33xsz1drrra7ckaw9azef7gserpy2dls"></div>
<script type="text/javascript" src="https://counter1.optistats.ovh/private/counter.js?c=33xsz1drrra7ckaw9azef7gserpy2dls&down=async" async></script>
<noscript><a href="https://www.freecounterstat.com" title="website hit counter"><img src="https://counter1.optistats.ovh/private/freecounterstat.php?c=33xsz1drrra7ckaw9azef7gserpy2dls" border="0" title="website hit counter" alt="website hit counter"></a></noscript>
<!-- end custom footer snippets -->
